<%# -- 
        Abbreviated micropost listing w/ inline score links
        'each' is a micropost active record
                                                                -- %>

<tr>
    <td class="fp_song_title">
        <% if logged_in? %>
            <% if current_user.voted_up_on? each %>
                <span class="_upvoted_trend"> <%= link_to "∆", micropost_like_path(each), method: :put %></span>
            <% else %>
                <span class="_nonvoted_trend"> <%= link_to "∆", micropost_like_path(each), method: :put %></span>
            <% end %>
        <% else %>
            <span class="_nonvoted_trend"> <%= link_to "∆", micropost_like_path(each), method: :put %></span>
        <% end %>
        <span class="_score_trend"><%= each.cached_votes_score %></span>
        <% if logged_in? %>
            <% if current_user.voted_down_on? each %>
                <span class="_downvoted_trend"> <%= link_to "∇", micropost_dislike_path(each), method: :put %> </span>
            <% else %>
                <span class="_nonvoted_trend"> <%= link_to "∇", micropost_dislike_path(each), method: :put %></span>
            <% end %>
        <% else %>
            <span class="_nonvoted_trend"> <%= link_to "∇", micropost_dislike_path(each), method: :put %></span>
        <% end %>
        
        <%= link_to each.title, each %> by <%= each.artist %> <div class="right"><%= render partial: "shared/add_to_playlist_button", locals: {micropost: each} %></div>
    </td>
</tr>