        <div class="row">

            <div class="col l10 offset-l1  m12 s12  ">
                <div class="row">
                    <div class="col s12">
                        <div class="content_title">
                            <i class="material-icons" style="font-size: 35px">trending_up</i>Trending Communities
                        </div>
                        <div class="row">
                            <div class="col m12 s12">
                                <div class="row">
                                    <% @count = 0 %>
                                    <% for post in @community_listings %>
                                        <div class="col l4 m12 s12"> 
                                            <span class="_title"> <%= link_to @community_names[@count].first.title, @community_names[@count].first %>  <span class="_nonvoted_trend">
                                            
                                            <%= link_to community_like_path(@community_names[@count].first), method: :put, class: "item-over" do %>
                                                <i class='material-icons' style='font-size: 15px'>add_box</i>
                                            <% end %>    
                                            </span></span>
                                            <div class="row">
                                                <div class="col s12 content_card z-depth-1">
                                                    <span class="_details_top_trend">Top Tracks</span><br>
                                                    <table class="bordered highlight ">
                                                        <% for each in post %>
                                                            <tr>
                                                                <td class="fp_song_title">
                                                                    <% if logged_in? %>
                                                                        <% if current_user.voted_up_on? each %>
                                                                            <span class="_upvoted_trend"> <%= link_to "∆", micropost_like_path(each), method: :put %></span>
                                                                        <% else %>
                                                                            <span class="_nonvoted_trend"> <%= link_to "∆", micropost_like_path(each), method: :put %></span>
                                                                        <% end %>
                                                                    <% else %>
                                                                        <span class="_nonvoted_trend"> <%= link_to "∆", micropost_like_path(each), method: :put %></span>
                                                                    <% end %>
                                                                    <span class="_score_trend"><%= each.cached_votes_score %></span>
                                                                    <% if logged_in? %>
                                                                        <% if current_user.voted_down_on? each %>
                                                                            <span class="_downvoted_trend"> <%= link_to "∇", micropost_dislike_path(each), method: :put %> </span>
                                                                        <% else %>
                                                                            <span class="_nonvoted_trend"> <%= link_to "∇", micropost_dislike_path(each), method: :put %></span>
                                                                        <% end %>
                                                                    <% else %>
                                                                        <span class="_nonvoted_trend"> <%= link_to "∇", micropost_dislike_path(each), method: :put %></span>
                                                                    <% end %>
                                                                    
                                                                    <%= link_to each.title, each %> by <%= each.artist %> <i class="material-icons right" style="font-size: 16px">playlist_add</i>
                                                                </td>
                                                            </tr>
                                                        <% end %>

                                                    </table>
                                                    <span class="_details_trend right"><%= link_to "More...", @community_names[@count].first %>
                                                </div>
                                            </div>
                                        </div>
                                    <% @count = @count + 1 %>
                                    <% end %>

                                </div>
                            </div>
                        </div>
                    <div class="_view_all right">
                            <%= link_to "View all communities...", communities_path %>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="content_title_small_margin">
                            <i class="material-icons" style="font-size: 35px">graphic_eq</i>Top Tracks
                        </div>
                        <ul class="feed_listing">
                            <%= render @feed %>
                            <%= will_paginate @feed %>
                        </ul>
                    </div>
                </div>

                <% if logged_in? %>
                    <div class="row">
                        <div class="col s12">
                            <div class="content_title">
                                <i class="material-icons" style="font-size: 35px">account_box</i>My Content
                            </div>
                            <div class="row">
                                <div class="col m12 s12">
                                    <div class="row">

                                            <div class="col l4 m12 s12"> 
                                                <span class="_title"> @Title </span>
                                                <div class="row">
                                                    <div class="col s12 content_card z-depth-1">
                                                        @concent
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col l4 m12 s12"> 
                                                <span class="_title"> My Posts (<%= current_user.microposts.count %>) </span>
                                                <div class="row">
                                                    <div class="col s12 content_card z-depth-1">
                                                        <table class="bordered highlight">
                                                            <% for micropost in @posts %>
                                                                <tr>
                                                                    <td class="fp_song_title"><span class="_nonvoted_trend"><%= micropost.cached_votes_score %> pts</span> <%= link_to micropost.title, micropost %> by <%= micropost.artist %></td>
                                                                </tr>
                                                            <% end %>
                                                        </table>
                                                        <span class="_details_trend right"><%= link_to "More...", current_user %>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col l4 m12 s12"> 
                                                <span class="_title"> My Upvoted Songs </span>
                                                <div class="row">
                                                    <div class="col s12 content_card z-depth-1">
                                                        <table class="bordered highlight">
                                                            <% @current = current_user.votes.up.for_type(Micropost) %>
                                                            <% for micropost in @current %>
                                                                <tr>
                                                                    <td class="fp_song_title">
                                                                        <% @find = Micropost.find(micropost.votable_id) %>
                                                                        <span class="_nonvoted_trend"><%= @find.cached_votes_score %> pts</span> <%= link_to @find.title, @find %> by <%= @find.artist %>
                                                                    </td>
                                                                </tr>
                                                            <% end %>
                                                        </table>
                                                        <span class="_details_trend right"><%= link_to "More...", current_user %>
                                                    </div>
                                                </div>
                                            </div>


                                    </div>
                                </div>
                            </div>

                    </div>
                <% end %>


            </div>

        </div>