<% if logged_in? %>
    <% provide(:title, "Feed for " + current_user.name) %>
<% else %>
    <% provide(:title, "Feed") %>
<% end %>


<div class="row">
    <div class="col l10 offset-l1  m12 s12  ">

<%# -- Admin Control Message --------------------------------------------------- %>

<% if @admin_error %>
    <div class="row">
        <div class="col l8 offset-l2 s12">
            <span class="_title">
                <i class="material-icons" style="font-size: 20px">cloud_queue</i> Admin Error
            </span>
            <div class="row">
                <div class="col m12 s12">
                    <div class="row">
                        <div class="col s12 content_card z-depth-1" style="padding-top: 5px; padding-bottom: 5px;">
                            <span>
                                <span style="color: red;">There are not currently any admins. Please add yourself as an admin before continuing!</span> <br>
                                <table class="bordered highlight">
                                    <tr>
                                        <th>User Name</th>
                                        <th>Action</th>
                                    </tr>
                                    <%= render partial: "users/admin", locals: {user: current_user} %>

                                </table>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%# Block everything else if admin_error %>
<% else %>


<%# -- Guest Welcome Message --------------------------------------------------- %>

<% if !logged_in? %>
    <div class="row">
        <div class="col l8 offset-l2 s12">
            <span class="_title">
                <i class="material-icons" style="font-size: 20px">cloud_queue</i>SoundIt!
            </span>
            <div class="row">
                <div class="col m12 s12">
                    <div class="row">
                        <div class="col s12 content_card z-depth-1" style="padding-top: 5px; padding-bottom: 5px;">
                            <span>
                                SoundIt is a community always looking for new music. The concept is simple; sign up and contribute songs. Groups of songs then make up
                                communities. These communities can then be exported as playlists to your favorite music playform such as YouTube or Spotify. Alternatively
                                users can create their own custom playlists and export them the same.<br><br>
                                ~Enjoy,<br>
                                The Quablex Team
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>


<%# -- Trending Commuinities --------------------------------------------------- %>

<div class="row">
    <div class="col s12">
        <div class="content_title">
            <i class="material-icons" style="font-size: 35px">trending_up</i>Trending Communities
        </div>
        <div class="row">
            <div class="col m12 s12">
                <div class="row">
                    <% if @community_listings.length == 0 %>
                        <br>
                        <div class="col s12 content_card z-depth-1" style="padding: 10px;">
                            <span class="_diamond">
                                There are not any communities stored in the database. The first step should be to
                                <%= link_to "create one.", new_community_path %>
                            <span>
                        </div>
                    <% else %>
                        <% for com in @community_listings %>
                            <%= render partial: "static_pages/topcom", locals: {com: com} %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    <% if @community_listings.length != 0 %>
        <div class="_view_all right">
                <%= link_to "View all communities...", communities_path %>
            </div>
        </div>
    <% end %>
</div>


<%# -- Top Tracks -------------------------------------------------------------- %>

<div class="row">
    <div class="col s12">
    <div class="content_title">
        <i class="material-icons" style="font-size: 35px">graphic_eq</i>Top Tracks
    </div>
    <div class="row">
        <div class="col m12 s12">
            <div class="row">
                <div class="col l4 m12 s12">
                    <span class="_title"> Feed </span>

                    <div class="row">
                        <div class="col s12 content_card z-depth-1" style="padding-left: 2px; padding-right: 2px;">
                            <ul class="feed_listing">
                                <table class="bordered highlight">
                                    <% if @feed.length == 0 %>
                                        <% if @community_listings.length  == 0 %>
                                            <span class="_diamond">
                                                There are not any communities stored in the database. The first step should be to
                                                <%= link_to "create one.", new_community_path %> Then songs can be added.
                                            <span>
                                        <% else %>
                                            <span class="_diamond">
                                                There are not any songs stored in the database. The next step should be to
                                                <%= link_to "create one.", new_micropost_path %>
                                            <span>
                                        <% end %>

                                    <% else %>
                                        <%= render @feed %>
                                    <% end %>
                                </table>
                            </ul>
                            <div class="right">
                                <% if @feed != nil %>
                                    <%= will_paginate @feed %>
                                <% end %>
                            </div>
                            <br>
                        </div>
                    </div>

                </div>

                <div class="col l4 m12 s12">
                    <span class="_title"> Listen on Youtube </span>

                    <div class="row">
                        <div class="col s12">
							<%# Autoplayer %>
							<div class="row hide-on-med-and-down">
								<div id="video-container" class="col s12">
									<center><%= content_tag(:div, "", id: "video-placeholder", data: {microposts: @feed}) %></center>
									<script src="https://www.youtube.com/iframe_api"></script>
								</div>
							</div>

							<div class="row">
								<div class="col s12">
									<div class="center-align">
										<a id="previous-button" class="btn button_cont playlist-button"><i class="small material-icons">skip_previous</i></a>
										<a id="play-pause-button" class="btn button_cont playlist-button"><i class="small material-icons">play_arrow</i></a>
										<a id="next-button" class="btn button_cont playlist-button"><i class="small material-icons">skip_next</i></a>
									</div>
								</div>
							</div>
                        </div>
                    </div>

                </div>

                <div class="col l4 m12 s12">
                    <span class="_title"> Listen on Spotify</span>

                    <div class="row">
                        <div class="col s12" style="padding:0px;">
                            <iframe src="https://open.spotify.com/embed?uri=spotify:user:1224459409:playlist:5EAbXQCZMXMLIsqKdKR25f&theme=white" width="100%" height="585px" frameborder="0" allowtransparency="true" class="z-depth-1" ></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%# -- User Info --------------------------------------------------------------- %>

<% if logged_in? && @posts != nil%>
    <div class="row">
        <div class="col s12">
            <div class="content_title">
                <i class="material-icons" style="font-size: 35px">account_box</i>My Content
            </div>
            <div class="row">
                <div class="col m12 s12">
                    <div class="row">
                        <div class="col l4 m12 s12">
                            <span class="_title">My Playlists</span>
                            <div class="row">
                                <div class="col m12 content_card z-depth-1">
                                    <table class="bordered highlight">
                                        <% if @current_playlists.length  == 0 %>
                                            <br>
                                            <span class="_diamond"><i class="material-icons" style="font-size: 14px">info_outline</i>
                                            You do not appear to have any playlists.<br>
                                            <%= link_to "Create one?", new_playlist_path %></span><br><br>
                                        <% else %>
                                            <% for play in @current_playlists %>
                                                <tr><td class="fp_song_title"><%= link_to play.name, playlist_path(play) %></tr></td>
                                            <% end %>
                                        <% end %>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col l4 m12 s12">
                            <span class="_title"> My Posts <% if @posts.length < 5 %> <% if @posts.length != 0 %>(Top <%= @posts.length %>)<% end %> <% else %> (Top 5) <% end %> </span>
                            <div class="row">
                                <div class="col s12 content_card z-depth-1">
                                    <table class="bordered highlight">
                                        <% if @posts.length == 0 %>
                                           <br>
                                            <span class="_diamond"><i class="material-icons" style="font-size: 14px">info_outline</i>
                                            You do not appear to have any Posts.<br>
                                            <%= link_to "Post Something?", new_micropost_path %><br><br>
                                        <% else %>
                                            <% for micropost in @posts %>
                                                <tr>
                                                    <td class="fp_song_title"><span class="_nonvoted_trend"><%= micropost.cached_votes_score %> pts</span> <%= link_to micropost.title, micropost %> by <%= micropost.artist %></td>
                                                </tr>
                                            <% end %>
                                        <% end %>
                                    </table>
                                    <% if @posts.length != 0 %>
                                        <span class="_details_trend right"><%= link_to "More...", current_user %>
                                    <% end %>
                                </div>

                            </div>
                        </div>

                        <div class="col l4 m12 s12">
                            <span class="_title"> My Upvoted Songs </span>
                            <div class="row">
                                <div class="col s12 content_card z-depth-1">
                                    <table class="bordered highlight">
                                        <% if @current.length == 0 %>
                                           <br>
                                            <span class="_diamond"><i class="material-icons" style="font-size: 14px">info_outline</i>
                                            You do not appear to have any Posts.<br>
                                            <%= link_to "Post Something?", new_micropost_path %><br><br>
                                        <% else %>
                                            <% for micropost in @current %>
                                                <tr>
                                                    <td class="fp_song_title">
                                                        <% @find = Micropost.find(micropost.votable_id) %>
                                                        <span class="_nonvoted_trend"><%= @find.cached_votes_score %> pts</span> <%= link_to @find.title, @find %> by <%= @find.artist %>
                                                    </td>
                                                </tr>
                                            <% end %>
                                        <% end %>
                                    </table>
                                    <% if @current.length != 0 %>
                                        <span class="_details_trend right"><%= link_to "More...", current_user %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>

<%# End admin error  %>
<% end %>

    </div>
</div>
