

        <div class="row row_margin hide-on-med-and-down">

            <div class="col l7 offset-l1 offset-m1 m10 s10 offset-s1 content_card z-depth-1 ">
                <div class="content_title">
                    What's Hot?
                </div>
                <ul class="feed_listing">
                    <%= render @feed %>
                </ul>
            </div>

            <div class="col s4 hide-on-med-and-down">
                <div class="row">
                    <div class="col s10 offset-s1 content_card z-depth-1">
                        <div class="content_sub_title">
                            Communities
                        </div>
                        Information, including a genre listing will eventually go here.
                        <br><br><br><br><br><br><br><br><br>
                    </div>
                </div>

                <% if logged_in? %>
                    <div class="row">
                        <div class="col s10 offset-s1 content_card z-depth-1">
                            <div class="content_sub_title">
                                My Posts (<%= current_user.microposts.count %>)
                            </div>
                            <br><br><Br><Br><Br><br><br><br><br>
                        </div>
                    </div>

                
                    <div class="row">
                        <div class="col s10 offset-s1 content_card z-depth-1">
                            <div class="content_sub_title">
                                My Upvoted Songs
                            </div>
                            <% @current = current_user.votes.up.for_type(Micropost) %>
                            <% for micropost in @current %>
                                <% @find = Micropost.find(micropost.votable_id) %>
                                <%= link_to @find.title, @find %> by <br>
                                <%# <%= render '/shared/micropost_skinny', collection: micropost %>
                            <% end %>
                            <br><br><Br><Br><Br><br><br><br><br>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="row hide-on-med-and-down">
                <div class="col s10 push-s1 content_card z-depth-1">
                    <div class="content_title">
                        Community Feature
                    </div>
                    <div>
                    Community Feature<br><br><br><br>
                    </div>
                </div>
            </div>
        </div>


        <div class="row show-on-small">
                <div class="mobile_title">
                    What's Hot?
                </div>
                <ul class="feed_listing">
                    <%= render @feed %>
                </ul>
        </div>
