<% if logged_in? %>
    <% provide(:title, "Feed for " + current_user.name) %>
<% else %>
    <% provide(:title, "Feed") %>
<% end %>
<div class="row">
    <div class="col l10 offset-l1  m12 s12  ">
        <% if !logged_in? %>
           <div class="row">
                <div class="col l8 offset-l2 s12">
                    <span class="_title">
                        <i class="material-icons" style="font-size: 20px">cloud_queue</i>SoundIt!
                    </span>
                    <div class="row">
                        <div class="col m12 s12">
                            <div class="row">
                                <div class="col s12 content_card z-depth-1" style="padding-top: 5px; padding-bottom: 5px;">
                                    <span>
                                        SoundIt is a community always looking for new music. The concept is simple; sign up and contribute songs. Groups of songs then make up 
                                        communities. These communities can then be exported as playlists to your favorite music playform such as YouTube or Spotify. Alternatively
                                        users can create their own custom playlists and export them the same.<br><br>
                                        ~Enjoy,<br>
                                        The Quablex Team
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        <% end %>

        <div class="row">
            <div class="col s12">
                <div class="content_title">
                    <i class="material-icons" style="font-size: 35px">trending_up</i>Trending Communities
                </div>
                <div class="row">
                    <div class="col m12 s12">
                        <div class="row">
                            <% if true  %>
                                <% @count = 0 %>
                                <% for post in @community_listings %>
                                    <div class="col l4 m12 s12"> 
                                        <span class="_title"> <%= link_to @community_names[@count].first.title, @community_names[@count].first %>  <span class="_nonvoted_trend">
                                        
                                        <%= link_to community_like_path(@community_names[@count].first), method: :put, class: "item-over" do %>
                                            <i class='material-icons' style='font-size: 15px'>add_box</i>
                                        <% end %>    
                                        </span></span>
                                        <div class="row">
                                            <div class="col s12 content_card z-depth-1">
                                                <span class="_details_top_trend">Top Tracks</span><br>
                                                <table class="bordered highlight ">
                                                    <% for each in post %>
                                                        <tr>
                                                            <td class="fp_song_title">
                                                                <% if logged_in? %>
                                                                    <% if current_user.voted_up_on? each %>
                                                                        <span class="_upvoted_trend"> <%= link_to "∆", micropost_like_path(each), method: :put %></span>
                                                                    <% else %>
                                                                        <span class="_nonvoted_trend"> <%= link_to "∆", micropost_like_path(each), method: :put %></span>
                                                                    <% end %>
                                                                <% else %>
                                                                    <span class="_nonvoted_trend"> <%= link_to "∆", micropost_like_path(each), method: :put %></span>
                                                                <% end %>
                                                                <span class="_score_trend"><%= each.cached_votes_score %></span>
                                                                <% if logged_in? %>
                                                                    <% if current_user.voted_down_on? each %>
                                                                        <span class="_downvoted_trend"> <%= link_to "∇", micropost_dislike_path(each), method: :put %> </span>
                                                                    <% else %>
                                                                        <span class="_nonvoted_trend"> <%= link_to "∇", micropost_dislike_path(each), method: :put %></span>
                                                                    <% end %>
                                                                <% else %>
                                                                    <span class="_nonvoted_trend"> <%= link_to "∇", micropost_dislike_path(each), method: :put %></span>
                                                                <% end %>
                                                                
                                                                <%= link_to each.title, each %> by <%= each.artist %> <a class='dropdown-button' href='#' data-activates='dropdown1'><i class="material-icons right" style="font-size: 16px">playlist_add</i></a>

                                                                <!-- Dropdown Structure -->
                                                                <ul id='dropdown1' class='dropdown-content'>
                                                                    <% Playlist.all.each do |playlist| %>
                                                                        <li><%= link_to playlist.name, playlist_addpost_path(playlist.id, each.id), method: :put %></li>
                                                                    <% end %>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    <% end %>

                                                </table>
                                                <span class="_details_trend right"><%= link_to "More...", @community_names[@count].first %>
                                            </div>
                                        </div>
                                    </div>
                                <% @count = @count + 1 %>
                                <% end %>
                            <% else %>
                                No listings to show...
                            <% end %>
                        </div>
                    </div>
                </div>
            <div class="_view_all right">
                    <%= link_to "View all communities...", communities_path %>
                </div>
            </div>

        </div>
        
        <div class="row">
                <div class="col s12">
                <div class="content_title">
                    <i class="material-icons" style="font-size: 35px">graphic_eq</i>Top Tracks
                </div>
                <div class="row">
                    <div class="col m12 s12">
                        <div class="row">
                            <div class="col l4 m12 s12"> 
                                <span class="_title"> Feed </span>

                                <div class="row">
                                    <div class="col s12 content_card z-depth-1" style="padding-left: 2px; padding-right: 2px;">
                                        <ul class="feed_listing">
                                            <table class="bordered highlight">
                                                <% if @feed != nil %>
                                                    <%= render @feed %>
                                                <% end %>
                                            </table>
                                        </ul>
                                        <div class="right">
                                            <% if @feed != nil %>
                                                <%= will_paginate @feed %>
                                            <% end %>
                                        </div>
                                        <br>
                                    </div>
                                </div>

                            </div>

                            <div class="col l4 m12 s12"> 
                                <span class="_title"> Listen on Youtube </span>

                                <div class="row">
                                    <div class="col s12 content_card z-depth-1">
                                        <b>Developer note: </b><br>
                                        Alex, here is where your youtube render will 
                                        be displayed
                                    </div>
                                </div>

                            </div>

                            <div class="col l4 m12 s12"> 
                                <span class="_title"> Listen on Spotify</span>

                                <div class="row">
                                    <div class="col s12" style="padding:0px;">
                                        <iframe src="https://open.spotify.com/embed?uri=spotify:user:1224459409:playlist:5EAbXQCZMXMLIsqKdKR25f&theme=white" width="100%" height="585px" frameborder="0" allowtransparency="true" class="z-depth-1" ></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <% if logged_in? && @posts != nil%>
            <div class="row">
                <div class="col s12">
                    <div class="content_title">
                        <i class="material-icons" style="font-size: 35px">account_box</i>My Content
                    </div>
                    <div class="row">
                        <div class="col m12 s12">
                            <div class="row">

                                    <div class="col l4 m12 s12"> 
                                        <span class="_title"> @Title </span>
                                        <div class="row">
                                            <div class="col s12 content_card z-depth-1">
                                                @concent
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col l4 m12 s12"> 
                                        <span class="_title"> My Posts (<%= current_user.microposts.count %>) </span>
                                        <div class="row">
                                            <div class="col s12 content_card z-depth-1">
                                                <table class="bordered highlight">
                                                    <% for micropost in @posts %>
                                                        <tr>
                                                            <td class="fp_song_title"><span class="_nonvoted_trend"><%= micropost.cached_votes_score %> pts</span> <%= link_to micropost.title, micropost %> by <%= micropost.artist %></td>
                                                        </tr>
                                                    <% end %>
                                                </table>
                                                <span class="_details_trend right"><%= link_to "More...", current_user %>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col l4 m12 s12"> 
                                        <span class="_title"> My Upvoted Songs </span>
                                        <div class="row">
                                            <div class="col s12 content_card z-depth-1">
                                                <table class="bordered highlight">
                                                    <% @current = current_user.votes.up.for_type(Micropost) %>
                                                    <% for micropost in @current %>
                                                        <tr>
                                                            <td class="fp_song_title">
                                                                <% @find = Micropost.find(micropost.votable_id) %>
                                                                <span class="_nonvoted_trend"><%= @find.cached_votes_score %> pts</span> <%= link_to @find.title, @find %> by <%= @find.artist %>
                                                            </td>
                                                        </tr>
                                                    <% end %>
                                                </table>
                                                <span class="_details_trend right"><%= link_to "More...", current_user %>
                                            </div>
                                        </div>
                                    </div>


                            </div>
                        </div>
                    </div>

            </div>
        <% end %>

    </div>
</div>