<% provide(:title, "Log in") %>
<div class="row">
    <div class="row">
        <div class="col l8 offset-l2 s12">
            <div class="content_title">
                <i class="material-icons" style="font-size: 35px">account_box</i>Login
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l8 offset-l2 m12 s12">
            <div class="row">
                <div class="col l12 m12 s12 content_card z-depth-1"> 
                    <div class="row">
                        <div class="col s12">
                        <br>
                            <%= form_for(:session, url: login_path) do |f| %>
                            <%= f.email_field :email, placeholder: "Email", class: 'form-control' %>
                            <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>

                            <%= f.submit "Log in", class: "btn button_mod" %>
                            <% end %>

                            <br>
                            <%= link_to "forgot password?", new_password_reset_path %><br>
                            <span class="_diamond"><i class="material-icons" style="font-size: 14px">info_outline</i>This will not work while
                            the app is deployed on a local host. It did work from Heroku.</span><br>
                            <br>New user? <%= link_to "Sign up now!", signup_path %>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>