<div class="col l2 offset-l1 s12">
    <div class="row">
        <div class="col s12 content_card z-depth-1">
            <table class="bordered highlight">
                <thead>
                    <tr><th class="fp_song_title">Navigation</th></tr>
                </thead>
                <tbody>
                    <tr><td class="fp_song_title"><%= link_to "Admin Index", admin_index_path %></td></tr>
                    <tr><td class="fp_song_title"><%= link_to "Content Moderation", com_mgmt_path %></td></tr>
                    <tr><td class="fp_song_title"><%= link_to "User Moderation", usr_mgmt_path %></td></tr>
                    <tr><td class="fp_song_title"><%= link_to "Admin Control", admin_mgmt_path %></td></tr>
                    <tr><td class="fp_song_title"><%= link_to "Spotify Controller", spotify_mgmt_path %></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>