
	<tr>
		<td>
			<%= link_to user.name, user %>
		</td>

		<td>
			<% if user.admin %>
				<% if @admins.length == 1 %>
					Cannot remove only admin
				<% else %>
					<%= form_for(user) do |f| %>
						<%= f.hidden_field  :admin, value: "f" %>
						<%= f.submit "Remove Admin", class: "not_btn" %>
					<% end %>
				<% end %>
			<% else %>
				<%= form_for(user) do |f| %>
					<%= f.hidden_field  :admin, value: "t" %>
					<%= f.submit "Make Admin", class: "not_btn" %>
				<% end %>
			<% end %>

		</td>
	</tr>
