<% provide(:title, "Edit Profile") %>
<div class="row">
    <div class="row">
        <div class="col l8 offset-l2 s12">
            <div class="content_title">
                <i class="material-icons" style="font-size: 35px">edit</i>Edit Profile
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l8 offset-l2 m12 s12">
            <div class="row">
                <div class="col l12 m12 s12 content_card z-depth-1"> 
                    <div class="row">
                        <div class="col s12">
							<%= form_for(@user) do |f| %>
								<%= render 'shared/error_messages', object: f.object %>

								<%= f.label :name %>
								<%= f.text_field :name, class: 'form-control' %>

								<%= f.label :email %>
								<%= f.email_field :email, class: 'form-control' %>

								<%= f.label :password %>
								<%= f.password_field :password, class: 'form-control' %>

								<%= f.label :password_confirmation, "Confirm Password" %>
								<%= f.password_field :password_confirmation, class: 'form-control' %>

								<%= f.submit "Save changes", class: "btn button_mod" %>
							<% end %>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>