<% provide(:title, "Edit user") %>
  	<div class="row">
   		<div class="col s10 offset-s1 content_card z-depth-1">

            <div class="content_title">
                Update Profile
            </div>

            <div class="content_body">
				<%= form_for(@user) do |f| %>
					<%= render 'shared/error_messages', object: f.object %>

					<%= f.label :name %>
					<%= f.text_field :name, class: 'form-control' %>

					<%= f.label :email %>
					<%= f.email_field :email, class: 'form-control' %>

					<%= f.label :password %>
					<%= f.password_field :password, class: 'form-control' %>

					<%= f.label :password_confirmation, "Confirmation" %>
					<%= f.password_field :password_confirmation, class: 'form-control' %>

					<%= f.submit "Save changes", class: "btn btn-primary" %>
				<% end %>
			 </div>
		</div>
	</div>