<% provide(:title, 'Signup') %>
<div class="row">
    <div class="row">
        <div class="col l8 offset-l2 s12">
            <div class="content_title">
                <i class="material-icons" style="font-size: 35px">account_circle</i>Signup
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l8 offset-l2 m12 s12">
            <div class="row">
                <div class="col l12 m12 s12 content_card z-depth-1"> 
                    <div class="row">
                        <div class="col s12">
							<%= form_for(@user, url: signup_path) do |f| %>
								<%= render 'shared/error_messages', object: f.object %>
								<%= f.text_field :name, class: 'form-control', placeholder: "Username" %>
								<%= f.email_field :email, class: 'form-control', placeholder: "Email" %>
								<%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
								<%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Password Confirmation" %>
								<%= f.submit "Create my account", class: "btn button_mod" %>
							<% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>