<%# -- 
        @top comments is an active record collection of comments
                                                                -- %>

<% @top_comments.each do |comment| %>

    <div class="row row_med_margin content_card z-depth-1">
        <div class="col" style="max-width: 30px">

            <div class="_score_collector">
                <% if logged_in? %>
                    <% if current_user.voted_up_on? comment %>
                        <span class="_upvoted"> <%= link_to "△", comment_like_path(comment), method: :put %></span><br>
                    <% else %>
                        <span class="_nonvoted"> <%= link_to "△", comment_like_path(comment), method: :put %></span> <br>
                    <% end %>
                <% else %>
                    <span class="_nonvoted"> <%= link_to "△", comment_like_path(comment), method: :put %></span> <br>
                <% end %>

                <span class="_score"><%= comment.get_upvotes.size - comment.get_downvotes.size %></span><br>

                <% if logged_in? %>
                    <% if current_user.voted_down_on? comment %>
                        <span class="_downvoted"> <%= link_to "▽", comment_dislike_path(comment), method: :put %> </span>
                    <% else %>
                        <span class="_nonvoted"> <%= link_to "▽", comment_dislike_path(comment), method: :put %></span>
                    <% end %>
                <% else %>
                    <span class="_nonvoted"> <%= link_to "▽", comment_dislike_path(comment), method: :put %></span>
                <% end %>
            </div>
        </div>
        <div class="col l10 s11">
            <span class="_details_top_reply">Posted by <%= link_to User.find(comment.user_id).name, user_path(comment.user_id) %> <%= time_ago_in_words(comment.created_at) %> ago.</span><br>
            <span class="_artist_title"><%= comment.body %></span>
            <br>
            <span class="_details_reply">Reply</span>
        <% @replies = Comment.where(micropost_id: @micropost.id, parent_id: comment.id) %>
        <% @replies.each do |reply| %>
            <%= reply.body %>

            <%= form_with(model: [ @micropost_copy, @micropost_copy.comments.build ]) do |form| %>
                <%= form.hidden_field :user_id, value: current_user.id %>
                <%= form.hidden_field :parent_id, value: reply.id %>
                <%= form.text_area :body, placeholder: "Replying as " + current_user.name, class: "content_card z-depth-2", style: "border: 0px;" %><br>
                <%= form.submit :Comment, class: "btn button_mod z-depth-2" %>
            <% end %>
        <% end %>




        <div class="row reply_card">
            <div class="col s8 ">
                <%= form_with(model: [ @micropost_copy, @micropost_copy.comments.build ]) do |form| %>
                    <%= form.hidden_field :user_id, value: current_user.id %>
                    <%= form.hidden_field :parent_id, value: comment.id %>
                    <%= form.text_area :body, placeholder: "Replying as " + current_user.name, class: "content_card z-depth-2", style: "border: 0px;" %><br>
                    <%= form.submit :Comment, class: "btn button_mod z-depth-2" %>
                <% end %>
            </div>
        </div>
        </div>

    </div>

<% end %>