<%# -- 
        Reders the form to create a new community
                                                                -- %>

<%= form_for(@community) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <br><span class="_diamond"><i class="material-icons" style="font-size: 14px">info_outline</i>Communities are based off of genre however there is not one correct genre for any song. 
    Before you create a new community, take a look through all of the <%= link_to "current communities", communities_path %> and determine if what you are wanting to create already exists.
    Communities are not meant to be duplicated however branches of current communities and offshoots will be allowed.</span>
    <br>
    <%= f.text_field :title, placeholder: "New Community Name" %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.text_area :description, placeholder: "Describe the type of songs you would like to be posted in this community..." %>
  </div>
  <%= f.submit "Post", class: "btn button_mod" %>
<% end %>