<%# -- 
        Form for creating a new micropost
                                                                -- %>

<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.text_field :artist, placeholder: "Artist" %>
    <%= f.collection_select :community_id, Community.order(:title), :id, :title, {:prompt=> "Choose a Community"}, {:class=>'helper'} %>
    <br><span class="_diamond"><i class="material-icons" style="font-size: 14px">info_outline</i>Communities are based off of genre however there is not one correct genre for any song.
    <br> Not finding the right community? Create one <%= link_to "here.", new_community_path %>
    <%= f.text_field :url, placeholder: "YouTube URL" %>
    <%= f.text_area :content, placeholder: "Start off the conversation..." %>

  </div>
  <%= f.submit "Submit", class: "btn button_mod" %>
<% end %>