<div class="row row_med_margin content_card z-depth-1">
    <div class="col l11">
        <span class="_details_top_reply">Posted by <%= link_to User.find(polycom.user_id).name, user_path(polycom.user_id) %> <%= time_ago_in_words(polycom.created_at) %> ago.</span><br>
        <span class="_artist_title">(<%= polycom.cached_votes_total %>) <%= polycom.body %></span>
            <ul class="collapsible col_mod z-depth-0" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header col_head_mod">
                        <span class="_details_reply">
                            <%= link_to "Delete", polycom, method: :delete, data: { confirm: "You sure?" } %>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header col_head_mod">
                        <span class="_details_reply">Edit</span>
                    </div>
                    <div class="collapsible-body col_bod_mod">
                        <%= render partial: "polycoms/edit_inline", locals: {polycom: polycom} %>
                    </div>
                </li>
            </ul>
    <% if polycom.polycoms.length != 0 %>
        <% for each in polycom.polycoms %>
            <%= render partial: "polycoms/moderate", locals: {polycom: each} %>
        <% end %>
    <% end %>
    </div>
</div>





