<div class="row row_med_margin content_card z-depth-1">
    <div class="col l1" style="max-width: 30px;">
        <%= render partial: "polycoms/vote", locals: {polycom: polycom} %>
    </div>

    <div class="col l11">
        <span class="_details_top_reply">Posted by <%= link_to User.find(polycom.user_id).name, user_path(polycom.user_id) %> <%= time_ago_in_words(polycom.created_at) %> ago.</span><br>
        <span class="_artist_title"><%= polycom.body %></span>
            <ul class="collapsible col_mod z-depth-0" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header col_head_mod"><span class="_details_reply">Reply</span></div>
                    <div class="collapsible-body col_bod_mod">
                        <% if logged_in? %>
                            <%= render partial: "polycoms/form", locals: {commentable: polycom} %>
                        <% else %>
                            <span class="_diamond">Please <%= link_to "log in", login_path %> to reply.</span>
                        <% end %>
                    </div>
                </li>
            </ul>
        </span>
    <% if polycom.polycoms.length != 0 %>
        <%= render polycom.polycoms %>
    <% end %>
    </div>
</div>
