<div class="_score_collector">
    <% if logged_in? %>
        <% if current_user.voted_up_on? polycom %>
            <span class="_upvoted"> <%= link_to "△", polycom_like_path(polycom), method: :put %></span><br>
        <% else %>
            <span class="_nonvoted"> <%= link_to "△", polycom_like_path(polycom), method: :put %></span> <br>
        <% end %>
    <% else %>
        <span class="_nonvoted"> <%= link_to "△", polycom_like_path(polycom), method: :put %></span> <br>
    <% end %>

    <span class="_score"><%= polycom.get_upvotes.size - polycom.get_downvotes.size %></span><br>

    <% if logged_in? %>
        <% if current_user.voted_down_on? polycom %>
            <span class="_downvoted"> <%= link_to "▽", polycom_dislike_path(polycom), method: :put %> </span>
        <% else %>
            <span class="_nonvoted"> <%= link_to "▽", polycom_dislike_path(polycom), method: :put %></span>
        <% end %>
    <% else %>
        <span class="_nonvoted"> <%= link_to "▽", polycom_dislike_path(polycom), method: :put %></span>
    <% end %>
</div>