<tr>
	<td class="fp_feed playlist-listing-row" data-id="<%= micropost.id %>">
		<li style="list-style: none;">
			<div class="col l10 s11 playlist-listing" data-id="<%= micropost.id %>">
				<span class="_title"><%= micropost.title %> (<%= micropost.artist %>)</span>
			</div>
			<div class="col s1">
				<%= render partial: "shared/playlist_menu_button", locals: {playlist: playlist, micropost: micropost} %>
			</div>
		</li>
	</td>
</tr>
