<%# 
    Used for listing songs in moderation mode
                                                                        %>

<tr>
    <td><%= micropost.created_at.strftime("%m-%d-%Y") %></td>
    <td class="fp_feed">
        <li id="micropost-<%= micropost.id %>" style="list-style: none;">
            <span class="_title"><span class="_diamond hide">◊</span><%= link_to micropost.title, edit_micropost_path(micropost) %></span> <span class="_artist_title">By <%= micropost.artist %></span>
        </li>
    </td>
    <td><%= link_to micropost.user.name, micropost.user %></td>
    <td><%= micropost.polycoms.length %></td>
    <td><%= micropost.cached_votes_score %></td>
    <td><%= micropost.cached_votes_up %></td>
    <td><%= micropost.cached_votes_down %></td>
    <td>
        <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" } %>
    </td>
</tr>
