<% provide(:title, "Edit Post") %>
<div class="row">
    <div class="row">
        <div class="col l11 offset-l1">
            <div class="content_title">
                <i class="material-icons" style="font-size: 35px">account_circle</i>Edit Post
            </div>
        </div>
    </div>

    <%= render 'admin/navigation'%>

    <div class="col l8">
        <div class="row">
            <span class="_title">Edit Post </span>
            <div class="col s12 content_card z-depth-1">
                <%= form_for(@micropost) do |f| %>
                    <%= render 'shared/error_messages', object: f.object %>
                    <div class="field">
                        <%= f.label :title %>
                        <%= f.text_field :title, placeholder: "Title" %>
                        <%= f.label :artist %>
                        <%= f.text_field :artist, placeholder: "Artist" %>
                        <%= f.label :community_id %><br>
                        <%= f.collection_select :community_id, Community.order(:title), :id, :title, {:prompt=> "Choose a Community"}, {:class=>'helper'} %>
                        <br><br>
                        <%= f.label :url %>
                        <%= f.text_field :url, placeholder: "YouTube URL (Optional)" %>
                        <%= f.label :content %>
                        <%= f.text_area :content, placeholder: "Start off the conversation..." %>

                    </div>
                    <%= f.submit "Update Post", class: "btn button_mod" %>
                <% end %>
                <br>
            </div>
        </div>


        <div class="row">
            <span class="_title"> Comment Moderation </span>
            <div class="col s12 content_card z-depth-1">
                <br>
                <% if @micropost.polycoms.length == 0 %>
                    No Comments to moderate.
                <% else %>
                    <% for each in @micropost.polycoms %>
                        <%= render partial: "polycoms/moderate", locals: {polycom: each} %>
                    <% end %>
                <% end %>

            </div>
        </div>

    </div>

    
</div>