<% provide(:title, @micropost.title) %>

<div class="row">

    <div class="col s12 l10 offset-l1">
        <div class="row">

            <div class="col s12">
                <%# Title %>
                
                <div class="content_title_post">
                    <%= @micropost.title %> (<%= @micropost.artist %>)
                </div>

                <%# Post Information %>
                <div class="row row_smal_margin content_card z-depth-1">
                    <div class="col" style="max-width: 30px">

                        <div class="_score_collector">
                            <% if logged_in? %>
                                <% if current_user.voted_up_on? @micropost %>
                                    <span class="_upvoted"> <%= link_to "△", micropost_like_path(@micropost), method: :put %></span><br>
                                <% else %>
                                    <span class="_nonvoted"> <%= link_to "△", micropost_like_path(@micropost), method: :put %></span> <br>
                                <% end %>
                            <% else %>
                                <span class="_nonvoted"> <%= link_to "△", micropost_like_path(@micropost), method: :put %></span> <br>
                            <% end %>

                            <span class="_score"><%= @micropost.get_upvotes.size - @micropost.get_downvotes.size %></span><br>

                            <% if logged_in? %>
                                <% if current_user.voted_down_on? @micropost %>
                                    <span class="_downvoted"> <%= link_to "▽", micropost_dislike_path(@micropost), method: :put %> </span>
                                <% else %>
                                    <span class="_nonvoted"> <%= link_to "▽", micropost_dislike_path(@micropost), method: :put %></span>
                                <% end %>
                            <% else %>
                                <span class="_nonvoted"> <%= link_to "▽", micropost_dislike_path(@micropost), method: :put %></span>
                            <% end %>
                        </div>
                    </div>
                    <div class="col s11">
                        <span class="_details_top"></span><br><br>
                        <span class="_artist_title">[ Posted in <%= link_to Community.find(@micropost.community_id).title, community_path(@micropost.community_id) %> ]
                        <span class="right">
						    <%= render partial: "shared/add_to_playlist_button", locals: {micropost: @micropost} %>
                        </span>
                        <br><span class="_details">Comments (<%= @micropost.polycoms.count %>)
                        <% if current_user?(@micropost.user) %> |
                                <%= link_to "Delete Post", @micropost, method: :delete, data: { confirm: "Delete this post?"}%>
                            <% end %>
                        | Posted <%= time_ago_in_words(@micropost.created_at) %> ago by <%= link_to @micropost.user.name, @micropost.user %></span>
                    </div>
                </div>
                <br>

                <%# Rendering of Video %>
                <span class="_title hide-on-med-and-down"> Watch</span>
                <div class="row dark_card z-depth-2 hide-on-med-and-down">
                    <div class="col s12">
                        <center><iframe width="560" height="315" src="<%= @embed_url %>" style="border: 0px;"></iframe></center>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                            <div class="row row_med_margin content_card z-depth-1">
                                <div class="col" style="max-width: 30px">

                                    <div class="_score_collector">
                                        <% if logged_in? %>
                                            <% if current_user.voted_up_on? @micropost %>
                                                <span class="_upvoted"> <%= link_to "△", micropost_like_path(@micropost), method: :put %></span><br>
                                            <% else %>
                                                <span class="_nonvoted"> <%= link_to "△", micropost_like_path(@micropost), method: :put %></span> <br>
                                            <% end %>
                                        <% else %>
                                            <span class="_nonvoted"> <%= link_to "△", micropost_like_path(@micropost), method: :put %></span> <br>
                                        <% end %>

                                        <span class="_score"><%= @micropost.get_upvotes.size - @micropost.get_downvotes.size %></span><br>

                                        <% if logged_in? %>
                                            <% if current_user.voted_down_on? @micropost %>
                                                <span class="_downvoted"> <%= link_to "▽", micropost_dislike_path(@micropost), method: :put %> </span>
                                            <% else %>
                                                <span class="_nonvoted"> <%= link_to "▽", micropost_dislike_path(@micropost), method: :put %></span>
                                            <% end %>
                                        <% else %>
                                            <span class="_nonvoted"> <%= link_to "▽", micropost_dislike_path(@micropost), method: :put %></span>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="col s10">
                                    <span class="_details_top_reply">Submission statement by <%= link_to @micropost.user.name, @micropost.user %></span><br>
                                    <span class="_artist_title"><%= @micropost.content %></span>

                                </div>
                            </div>
                    </div>
                </div>

                <%# comments section%>
                <div class="row">
                    <div class="col s12">
                        <span class="_title"> Replies</span>


                            <%= render @micropost.polycoms %>

                    </div>
                </div>

                <%# Comment Box %>
                <% if logged_in? %>
                    <span class="_title"> Add a Comment</span>    
                    <div class="row reply_card">
                        <div class="col s8 ">
                            <%= render partial: "polycoms/form", locals: {commentable: @micropost_copy} %>
                        </div>
                    </div>
                <% else %>

                    <div class="row">
                        <div class="col s8">
                            Please log in to post a reply.
                        </div>
                    </div>

                <% end %>

            </div>
        </div>
        
    </div>

</div>