

<div class="row row_margin">
    <div class="col s2 content_card z-depth-1">
        <div class="content_header_narrow">
            Communities
        </div>
        Community information and other content will go here.
        <br><br>Eventually this will need to be rendered in a shared form
        <br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br>
    </div>

    <div class="col s9">
        <div class="row">

            <div class="col s11 content_card z-depth-1">

                <div class="content_title_post">
                    <%= @micropost.title %>
                </div>


                <div class="row">
                    <div class="col s1">
                        <div class="col s1" style="text-align: center;">
                            <%= link_to "↑", like_micropost_path(@micropost), method: :put %> <br>
                            <%= @micropost.get_upvotes.size - @micropost.get_downvotes.size %><br>
                            <%= link_to "↓", dislike_micropost_path(@micropost), method: :put %>
                        </div>
                    </div>

                    <div class="col s11">
                        <div>
                            <b>Submitted by: </b> <%= @user.name %> <br>
                            <b>Genre: </b> <%= @micropost.genre %> <br>
                            <b>Submission Statement: </b> <%= @micropost.content %> <br>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div clas="col s12">
                        <b>DEV NOTE: </b> RENDER VIDEO HERE!
                    <div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <b> Replies </b><br>
                        <% @micropost.comments.each do |comment| %>
                            <div class="row">
                                <div class="col s1">
                                    <%= link_to "↑", comment_like_path(comment), method: :put %> <br>
                                    <%= comment.get_upvotes.size - comment.get_downvotes.size %> <br>
                                    <%= link_to "↓", comment_dislike_path(comment), method: :put %>
                                </div>
                                <div class="col s11 z-depth-1">
                                    <div class="comment">
                                        Posted by <%= comment.user_id %> <%= time_ago_in_words(comment.created_at) %> ago.
                                    </div>
                                    <%= comment.body %>
                                    <br>
                                    <div class="comment">
                                        <span style="text-decoration: line-through">Reply</span>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>

                <% if logged_in? %>

                    <div class="row">
                        <div class="col s8">
                            <%= form_with(model: [ @micropost, @micropost.comments.build ]) do |form| %>
                                <%= form.hidden_field :user_id, value: current_user.id %>
                                <%= form.text_area :body, placeholder: "Replying as " + current_user.name %>
                                <%= form.submit %>
                            <% end %>
                        </div>
                    </div>
                <% else %>

                    <div class="row">
                        <div class="col s8">
                            Please log in to post a reply.
                        </div>
                    </div>

                <% end %>
                
            </div>
                
        </div>
    </div>
</div>