<% provide(:title, "New Playlist") %>
<div class="row">
    <div class="row">
        <div class="col l8 offset-l2 s12">
            <div class="content_title">
                <i class="material-icons" style="font-size: 35px">music_note</i>New Playlist
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l8 offset-l2 m12 s12">
            <div class="row">
                <div class="col l12 m12 s12 content_card z-depth-1">
                    <div class="row">
                        <div class="col s12">
                            <% if logged_in? %>
								<%= form_for(@playlist) do |f| %>
									<%= render 'shared/error_messages', object: f.object %>
									<div class="field">
										<%= f.text_field :name, placeholder: "Playlist Name" %>
									</div>
									<%= f.submit "Create Playlist", class: "btn button_mod" %>
								<% end %>
                            <% else %>
                                <br>
                                Please <%= link_to "Login first. ", login_path %>
                            <% end %>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
