<% provide(:title, @playlist.name) %>

<div class="row">

    <div class="col s12 l10 offset-l1">
        <div class="row">

            <div class="col s12">
                <%# Name %>

				<div class="col s12">
                	<div class="content_title">
                		<i class="material-icons" style="font-size: 35px">queue_music</i><%= @playlist.name %>
                	</div>
				</div>

				<br>

				<div class="row">
					<div class="col l8 m12 s12">
		                <%# Playlist Information %>

						<%# This works and I don't know why; please don't touch %>
						<span class="_title"> </span>
						<br>

		                <div class="row row_smal_margin content_card z-depth-1">
		                    <div class="col s9">
								<br>
		                    	<span class="_diamond">Songs (<%= @playlist.microposts.count %>)
		                        | Posted <%= time_ago_in_words(@playlist.created_at) %> ago by <%= link_to @playlist.user.name, @playlist.user %></span>
								<br> &nbsp;
							</div>
		                </div>

						</br>

						<%# Autoplayer %>
						<div class="row dark_card z-depth-2 hide-on-med-and-down">
							<div class="col s12">
								<center><%= content_tag(:div, "", id: "video-placeholder", data: {microposts: @playlist.microposts}) %></center>
								<script src="https://www.youtube.com/iframe_api"></script>
							</div>
						</div>

						<div class="row">
							<div class="col s12">
								<div class="center-align">
									<a id="previous-button" class="btn button_cont playlist-button"><i class="small material-icons">skip_previous</i></a>
									<a id="play-pause-button" class="btn button_cont playlist-button"><i class="small material-icons">play_arrow</i></a>
									<a id="next-button" class="btn button_cont playlist-button"><i class="small material-icons">skip_next</i></a>
								</div>
							</div>
						</div>

						<%# Song Listing %>
						<div class="row row_smal_margin content_card z-depth-1">
							<div class="col s12">
								<table class="bordered highlight">
									<% for micropost in @microposts %>
										<%= render partial: "microposts/micropost_playlist", locals: {playlist: @playlist, micropost: micropost} %>
									<% end %>
								</table>
							</div>
						</div>
					</div>

					<div class="col l4 m12 s12">

						<%# Spotify Integration %>
						<span class="_title">Export to Spotify</span>

						<div class="row">
							<div class="col s12 content_card z-depth-1" >
							   <br>

								<% if logged_in? %>

									<% if @playlist.microposts.length != 0 %>

										<% if @not_saved %>
											<span class="_diamond"><i class="material-icons" style="font-size: 14px">info_outline</i>First connect your account to <%= link_to "Spotify!", '/auth/spotify' %></span>
										<% else %>

											<% if @expired %>
												<span class="_diamond"><i class="material-icons" style="font-size: 14px">info_outline</i>Your account's Spotify session has expired, please renew it
												<%= link_to "by clicking here.", '/auth/spotify' %></span>
											<% else %>
												<span><%= link_to 'Create Spotify Playlist', playlist_user_spotify_create_path(@playlist,current_user) %> to generate a playlist for
												<%= @playlist.name %></span>
											<% end %>
										<% end %>

										<br><br>
									<% else %>
										<span class="_diamond"><i class="material-icons" style="font-size: 14px">info_outline</i> Nothing to export! <%= link_to "Add a Song.", new_micropost_path %></span>
									<% end %>

								<% else %>
									<span class="_diamond"> <%= link_to "Login ", login_path %>to add to your list and create Spotify Playlist</span><br>
								<% end %>

							</div>
						</div>

					</div>
				</div>



            </div>
        </div>

    </div>

</div>
