<% provide(:title, @playlist.name) %>

<div class="row">

    <div class="col s12 l10 offset-l1">
        <div class="row">

            <div class="col s12">
                <%# Name %>
                <div class="content_title_post">
                    <%= @playlist.name %>
                </div>

                <%# Playlist Information %>
                <div class="row row_smal_margin content_card z-depth-1">
                    <div class="col s9">
                        <br><span class="_details">Songs (<%= @playlist.microposts.count %>)
                        | Posted <%= time_ago_in_words(@playlist.created_at) %> ago by <%= link_to @playlist.user.name, @playlist.user %></span>
                    </div>
                </div>

				</br>

				

				<%# Song Listing %>
				<div class="row row_smal_margin content_card z-depth-1">
					<div class="col s9">
						<table class="bordered highlight">
							<% for micropost in @microposts %>
								<%= render partial: "microposts/micropost_playlist", locals: {micropost: micropost} %>
							<% end %>
						</table>
					</div>
				</div>
            </div>
        </div>

    </div>

</div>
