
<% provide(:title, "Edit Community") %>
<div class="row">
    <div class="row">
        <div class="col l11 offset-l1">
            <div class="content_title">
                <i class="material-icons" style="font-size: 35px">account_circle</i>Edit Community
            </div>
        </div>
    </div>

    <%= render 'admin/navigation'%>

    <div class="col l8">
        <div class="row">
            <div class="col s12 content_card z-depth-1">
                <%= form_for(@community) do |f| %>
                    <%= render 'shared/error_messages', object: f.object %>
                    <div class="field">
                        <%= f.label :title %>
                        <%= f.text_field :title, placeholder: "New Community Name" %>
                        <%= f.hidden_field :user_id, value: current_user.id %>
                        <%= f.label :description %>
                        <%= f.text_area :description, placeholder: "Describe the type of songs you would like to be posted in this community..." %>
                    </div>
                    <%= f.submit "Update", class: "btn button_mod" %>
                <% end %>
                <br>
            </div>
        </div>
    </div>
</div>