<% provide(:title, @community.title) %>
<div class="row">
    <div class="col l10 offset-l1  m12 s12  ">
        <div class="row">
                <div class="col s12">
                <div class="content_title">
                    <i class="material-icons" style="font-size: 35px">graphic_eq</i>Top Tracks
                </div>
                <div class="row">
                    <div class="col m12 s12">
                        <div class="row">
                            <div class="col l8 m12 s12">
                                <span class="_title"><%= @community.title %></span>

                                <div class="row">
                                    <div class="col s12 content_card z-depth-1" style="padding-left: 2px; padding-right: 2px;">
                                        <table class="bordered highlight">
                                            <ul class="feed_listing" style="list-style: none;">
                                                <%= render @feed %>
                                                <%= will_paginate @feed %>

                                                <% if @feed.length == 0%>
                                                    <span class="_diamond">&nbsp;&nbsp;<i class="material-icons" style="font-size: 14px">info_outline</i> There does not appear to be any songs here.
                                                    <%= link_to "Add a Song.", new_micropost_path %></span>
                                                <% end %>
                                            </ul>
                                        </table>
                                        <div class="right">
                                            <%= will_paginate @feed %>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>

                            <div class="col l4 m12 s12">
                                <span class="_title"> Community Details</span>

                                <div class="row">
                                    <div class="col s12 content_card z-depth-1" >


                                        <% if logged_in? %>
                                            <br>
                                            <% if current_user.voted_up_on? @community %>
                                                <span class="btn button_mod"> <%= link_to "Subscribed", community_like_path(@community), method: :put %></span><br>
                                                <span class=""> <%= link_to "Remove?", community_dislike_path(@community), method: :put %></span>
                                            <% else %>
                                                <span class="btn button_mod"> <%= link_to "Subscribe?", community_like_path(@community), method: :put %></span>
                                            <% end %>
                                        <% end %>
                                        <br><br>
                                        <span class="_diamond">Created: <%= time_ago_in_words(@community.created_at) %> ago</span>
                                        <br>
                                        <span class="_diamond">Description: <%= @community.description %> </span>
                                        <br>
                                    </div>
                                </div>

                                

                                <div class="row">
                                    <div class="col s12 content_card z-depth-1" >
                                       <br>

                                        <% if logged_in? %>

                                            <% if @feed.length != 0 %>

                                                <% if @not_saved %>
                                                    <span class="_diamond"><i class="material-icons" style="font-size: 14px">info_outline</i>First connect your account to <%= link_to "Spotify!", '/auth/spotify' %></span>
                                                <% else %>

                                                    <% if @expired %>
                                                        <span class="_diamond"><i class="material-icons" style="font-size: 14px">info_outline</i>Your account's Spotify session has expired, please renew it
                                                        <%= link_to "by clicking here.", '/auth/spotify' %></span>
                                                    <% else %>
                                                        <span><%= link_to 'Create Spotify Playlist', community_user_spotify_create_path(@community,current_user) %> to generate a playlist for
                                                        <%= @community.title %></span>
                                                    <% end %>
                                                <% end %>

                                                <br><br>
                                            <% else %>
                                                <span class="_diamond"><i class="material-icons" style="font-size: 14px">info_outline</i> Nothing to export! <%= link_to "Add a Song.", new_micropost_path %></span>
                                            <% end %>

                                        <% else %>
                                            <span class="_diamond"> <%= link_to "Login ", login_path %>to add to your list and create Spotify Playlist</span><br>
                                        <% end %>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
