<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Soundit</title>
    <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

	<main class="grey lighten-4">
		<nav class="hide-on-med-and-down">
			<div class="header hide-on-med-and-down ">
				<div class="title_box z-depth-2">

				</div>

				<% if !logged_in? %>
					<%= form_for(:session, url: login_path) do |f| %>
					<div class="login_box small_input hide-on-med-and-down">
							<div class="login_components">
								<%= f.email_field :email, class: 'small_input inline', placeholder: 'Email'%>
								<%= f.password_field :password, class: 'small_input inline', placeholder: 'Password' %>
							</div>
							<div class="login_submit">
									<%= f.submit "Log in", class: "login_small inline z-depth-1" %>
							</div>
					</div>
					<% end %>
				<% else %>
					<div class="logged_in hide-on-med-and-down">
						Welcome,  <%= link_to current_user_name, current_user %>.
					</div>
				<% end %>

				<div class="nav_box z-depth-3 hide-on-med-and-down">
					<ul class="left hide-on-med-and-down">
						<li><%= link_to "Home", root_path %></li>
						<li><a class="dropdown-button" href="#!" data-activates="dropdown33">Contribute<i class="material-icons right lh">arrow_drop_down</i></a></li>
	  					<li><a class="dropdown-button" href="#!" data-activates="dropdown34">Consume<i class="material-icons right lh">arrow_drop_down</i></a></li>
						<% if logged_in? %>
							<% if current_user.admin %>
								<li><a class="dropdown-button" href="#!" data-activates="dropdown32">Admin<i class="material-icons right lh">arrow_drop_down</i></a></li>
							<% end %>
						<% end %>
						
						<li><%= link_to "About", about_path %></li>
					</ul>

					<ul class="right hide-on-med-and-down">
						<% if logged_in? %>
							<li><%= link_to "My Profile", current_user %></li>
							<li><%= link_to "Settings", edit_user_path(current_user) %></li>
							<li><%= link_to "Log out", logout_path, method: :delete %></li>
						<% else %>
							<li><%= link_to "Sign Up", signup_path %></li>
						<% end %>
					</ul>
				</div>

			</div>


		</nav>
<% if logged_in? %>
	<% if current_user.admin %>
		<!-- Dropdown Structure -->
		<ul id="dropdown32" class="dropdown-content dd2" style="width: 150%">
			<li><%= link_to "Admin Index", admin_index_path %></li>
			<li><%= link_to "Content Moderation", com_mgmt_path %></li>
			<li><%= link_to "User Moderation", usr_mgmt_path %></li>
			<li><%= link_to "Admin Control", admin_mgmt_path %></li>
			<li><%= link_to "Spotify Controller", spotify_mgmt_path %></li>

		</ul>
	<% end %>
<% end %>

<!-- Dropdown Structure -->
<ul id="dropdown33" class="dropdown-content dd2">
		<% if logged_in? %>
			<li><%= link_to "Song", new_path %></li>
			<li><%= link_to "Playlist", new_playlist_path %></li>
			<li><%= link_to "Community", new_community_path %></li>
		<% else %>
			<li><%= link_to "Log in", login_path %>
		<% end %>
</ul>

<!-- Dropdown Structure -->
<ul id="dropdown34" class="dropdown-content dd2">
		<li><%= link_to "All Songs", microposts_path %></li>
		<li><%= link_to "Communities", communities_path %></li>
</ul>

		<div class="hide-on-large-only">
			<div>
				<ul class="collapsible" data-collapsible="accordion">
					<li>
					<div class="collapsible-header mobile_head z-depth-1" style="color:#fff;"><i class="material-icons" style="font-size:50px;">menu</i><span class="_mobile_header" >&nbsp;&nbsp;&nbsp;SoundIt!</span></div>
					<div class="collapsible-body mobile_bod">

						<% if logged_in? %>
							<table class="bordered">
								<tr><th>Welcome, <%= link_to current_user.name, current_user %></th></tr>
								<tr><td><%= link_to "Home", root_path %><tr>
								<tr><td><%= link_to "Submit a Song", new_micropost_path %>

								<tr><td><%= link_to "Logout", logout_path, method: :delete %></td></tr>
								<% if current_user.admin %>
									<tr><td><%= link_to "Admin Panel", admin_index_path %></td></tr>
								<% end %>
							</table>
						<% else %>

							<table class="bordered">
								<tr><th>Welcome, Guest</th></tr>
								<tr><td><%= link_to "Home", root_path %><tr>
								<tr><td><%= link_to "Login", login_path %></td></tr>
							</table>

						<% end %>
					</div>
					</li>
					</li>
				</ul>
			</div>

		</div>

		<div>
				<div class="row row_margin">
					<div class="col s10 offset-s1">
						<blockquote>
							<% flash.each do |message_type, message| %>
								<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
							<% end %>
						</blockquite>
					</div>
				</div>

			<%= yield %>
		</div>
	</main>

	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col s16">
					<%# <%= debug(params) if Rails.env.development? %>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2017 Quablex
			</div>
		</div>
	</footer>
  </body>
</html>
